/* reset css */
* {
	margin: 0;
	padding: 0;
}
/* variable css */
:root {
    --black-sp : #100c08;
    --grey-sp : #272726;
    --yellow-sp : #fff155;
    --res: calc(0.01*10vmin);
}
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@font-face {
    font-family: roca-two;
    src: url(../font/roca-two/roca-two.ttf);
}
@font-face {
    font-family: roca-two-lit;
    src: url(../font/roca-two/roca-two-light-it.ttf);
}
@font-face {
    font-family: roca-two-it;
    src: url(../font/roca-two/roca-two-it.ttf);
}
@font-face {
    font-family: spfont;
    src: url(../font/SinguliersPluriel6.otf);
}
@font-face {
    font-family: avenir-l;
    src: url(../font/avenir/Avenir-Light.ttf);
}
@font-face {
    font-family: avenir-m;
    src: url(../font/avenir/Avenir-Medium.ttf);
}
/* style paragraphe texte */
html {
    overflow-x: hidden;
    color: var(--black-sp);
    background: var(--yellow-sp);
}

/* style du composant menu */
header {
    height: 80px;
}
nav {
	margin:5px;
}
.container {
  width:45px;
  height:45px;
  padding: 10px;
  overflow: hidden;
  background-color: #FFF;
  border: 1px solid var(--black-sp);
  border-radius:45px;
  box-shadow: -3px 3px;
  transition: 0.4s ease-in-out;
  position: fixed;
  z-index: 999;
}
.change .container {
  width:350px;
  height:270px;
	border-radius:35px;
}
.cross {
	position:relative;
	top:4px;
	left:4px;
}
ul {
  list-style-type: none;
  display:none;
}
.change ul {
  display:block;
	margin:16px;
}
li a {
  display: block;
	position:relative;
  color: var(--black-sp);
  text-decoration: none;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
	transition: 2s ease-out;
	opacity:0;
}
.change li a {
	margin:16px;
	opacity:1;
}
.slide-line::before {
  content: "";
  position: absolute;
  background: var(--grey-sp);
  width: 50%;
  height: 2px;
  bottom: -2px;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.4s;
}
.slide-line:hover::before {
  transform-origin: 0 0;
  transform: scaleX(1);
}
.cross {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  background-color: var(--grey-sp);
  margin: 6px 0;
  border-radius:5px;
  transition: 0.4s ease-out;
}
.bar1 {
  width: 15px;
  height: 5px;
}
.bar2 {
  width: 35px;
  height: 5px;
}
.bar3 {
  width: 25px;
  height: 5px;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(45deg);
  width: 35px;
  height: 5px;
}
.change .bar2 {
  transform: translate(14px, 0);
  width: 5px;
  height: 5px;
}
.change .bar3 {
  transform: translate(0, -11px) rotate(-45deg);
  width: 35px;
  height: 5px;
}
.social-icon {
	display:none;
}
.change .social-icon {
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.fa {
	color:var(--grey-sp);
}

/* mise en page du hero */
/*----------------------*/
/*----------------------*/
.hero {
    position: relative;
}
.hero-logo-text {
    height: 40vw;
    background: linear-gradient(178deg, #fff155 80%, #fff 30%);
}
/* --------------- version avec image 
.logo {
    width: 55%;
    max-width: 545px;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%,0);
  }
.pluriel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 28px;
}
------------ fin de version avec image */
.hero .logo-text {
    margin: 0 auto;
    /*width: 55%;*/
    width: 100%;
    /*max-width: 545px;
    max-height: 382px;
    height: 382px;*/
    height: 100%;
    display: flex;
    align-items: center;
    background: no-repeat center/38vw url(../img/Logo-SP-bulle-BG.png);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
h1 {
    display: block;
    font-family: roca-two;
    z-index: 2;
    font-size: 6.7vw;
    line-height: 6.5vw;
    color: #FFF;
    letter-spacing: -2px;
    margin: 0 auto;
    transform: translateY(-11%);
}
h1 span {
    display: block;
    font-family: spfont;
    margin-left: 4px;
    font-size: 8vw;
    letter-spacing: -2px;
}
.baseline {
    padding-left: 4px;
    font-family: avenir-l;
    text-transform: uppercase;
    font-size: 1.9vw;
    letter-spacing: 1px;
    line-height: 1em;
    color: var(--yellow-sp);
}

.pluriel-bg {
    font-family: spfont;
    display: block;
    letter-spacing: -2px;
    font-size: 22vw;
    text-align: center;
    line-height: 6.5vw;
    transform: rotate(-2deg);
    position: relative;
    top: 10vw;
    z-index: 1;
}
.hero-menu {
    display: none;
    justify-content: space-around;
    background-color: #FFF;
    z-index: 2;
    position: relative;
    padding-top: 24px;
}
.hero-menu .bg {
    display: flex;
    width: 76vw;
    justify-content: space-between;
}
.hero-menu a {
    text-decoration: none;
    text-align: center;
    font-family: avenir-l;
    color: var(--black-sp);
    width: 100%;
    position: relative;
}
.hero-menu a span {
    font-family: roca-two-lit;
    font-size: 24px;
}
.social-icon-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 174px;
}
.line-1::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 10%;
}
.line-2::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 26%;
}
.line-3::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 42%;
}
.line-4::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 58%;
}
.line-5::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 74%;
}
.line-5::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 1px;
    display: inline-block;
    height: 550px;
    bottom: 16px;
    left: 90%;
}
/* mise en page section agence */
/*-----------------------------*/
/*-----------------------------*/

.agence, .portfolio {
    padding-top: 70px;
    background-color: #FFF;
}
.agence h2, .portfolio h2 {
    font-family: avenir-m;
    font-size: 4.5vw;
    line-height: 5vw;
    padding-left: 9vw;
}
.agence h2 span {
    font-family: roca-two-it;
}
.card {
    width: 70%;
    max-width: 1000px;
    margin: 80px 0 0 9vw;
    padding: 42px 24px;
    border: 3px solid var(--black-sp);
    border-radius: 50px;
    box-shadow: -3px 3px;
    background-color: #FFF;
    z-index: 1;
    position: relative;
    height: 211px;
}
.card.small {
    max-width: 650px;
}
.card.small.third {
    margin: 80px auto 0;
}
.card>div {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.card p {
    font-family: avenir-m;
    font-size: 18px;
    line-height: 24px;
}
.card .num {
    font-family: roca-two-lit;
    font-size: 17vw;
    line-height: 136px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 18px;
}
.card .text p:first-child>span {
    font-family: roca-two-it;
    font-size: 24px;
}
.quote{
    width: 64vw;
    font-family: avenir-m;
    font-size: 2.4vw;
    margin-left: 16vw;
    margin-top: 61px;
}
.quote h3 span {
    font-family: roca-two-lit;
    font-size: 2.4vw;
}
h4 {
    font-family: avenir-m;
    font-size: 4vw;
    margin-top: 34px;
    padding-left: 9vw;
}
h4+p {
    max-width: 277px;
    margin-top: 1em;
    padding-left: 17vw;
    font-family: avenir-m;
}

/* mise en page de nos métiers */
/*-----------------------------*/
/*-----------------------------*/
h5 {
    font-family: roca-two;
    font-size: 48px;
}
.video-photo {
    margin-top: -117px;
    display: flex;
    background-color: var(--yellow-sp);
}
.web-graph {
    display: flex;
    width: 89%;
    margin-left: 11vw;
    padding-bottom: 45px;
}
.video-photo div {
    width: 50%;
}
.web-graph div {
    width: 100%;
}
.video-photo img, .web-graph img {
    width: 100%;
}
.web-graph img {
    max-width: 497px;
    margin-top: -100px;
}
.video-photo>div:last-child, .web-graph>div:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.web-graph>div:last-child {
    align-items: end;
    width: 62%;
}
.video , .photo, .web, .graph {
    display: flex;
    align-items: baseline;
    margin: 32px 0 62px 0;
    padding: 32px 0 0 96px;
    border-top: 1px solid var(--black-sp);
    padding-top: 32px;
}
.video-photo .video {
    margin-top: clamp(0px,91px,100px);
}
.web>div:first-child, .graph>div:first-child {
    margin: 0 24px;
}
.strat-media {
    display: flex;
    margin: -55px auto;
    width: 100%;
    gap: 24px;
    max-width: 650px;
}
.video ul,.photo ul, .web ul, .graph ul, .media ul, .strat ul {
    display: block;
    list-style-type: disc;
}
.media, .strat {
    background-color: var(--yellow-sp);
    display: block;
    width: 100%;
    max-width: 352px;
    padding: 24px 0 24px 24px;
}
.media>div:first-child, .strat>div:first-child {
    padding: 24px 0 0 24px;
    line-height: 3em;
}
.media>div:last-child, .strat>div:last-child {
    margin: 24px 0 24px 24px;
}

/* test idée design portfolio */
/*----------------------------*/
/*----------------------------*/
.projet-one {
    background: no-repeat center/cover url(../img/test\ fond\ bg\ portfolio.png);
    height: 570px;
    position: relative;
/*    display: flex;
    align-items: center;*/
}
.projet-one:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.1);
    transition: 2s ease-out;
}
.projet-one:hover:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.75);
    transition: 2s ease-out;
}
.middle-card {
    transition: 1s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projet-one:hover .middle-card {
    opacity: 1;
}
  
.descr{
    color: white;
    font-family: avenir-m;
    font-size: 36px;
    padding: 16px 32px;
    opacity: 0;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 750ms;
    transition-property: opacity,transform;
    transform: translateY(24px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projet-one:hover .descr {
    opacity: 1;
    transform: translateY(0);
}
.descr-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    text-align: right;
    font-size: 16px;
}
.descr-types {
    font-family: roca-two;
    font-size: 48px;
    line-height: 54px;
}
.descr-client {
    line-height: 19px;
}
.descr-date {
    font-size: 14px;
}

/* test animation bouton sur portfolio */
/*-------------------------------------*/

button {
    font-family: avenir-m;
    letter-spacing: 1px;
    background: none;
    color: white;
    position: relative;
    outline: none;
    border: none;
    height: 50px;
    width: 190px;
    font-size: 14px;
    z-index: 2;
    transition: 0.01s 0.23s ease-out all;
    overflow: hidden;
  }
  button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    background: #202020;
    z-index: -1;
    transition: 0.3s ease-in all;
  }
  button:after {
    content: "";
    position: absolute;
    left: -5%;
    top: 5%;
    height: 90%;
    width: 5%;
    background: white;
    z-index: -1;
    transition: 0.4s 0.02s ease-in all;
  }
  button:hover {
    cursor: pointer;
    color: transparent;
  }
  button:hover:before {
    left: 100%;
    width: 25%;
  }
  button:hover:after {
    left: 100%;
    width: 70%;
  }
  button:hover .icon-right.after:after {
    left: -80px;
    color: white;
    transition: 0.2s 0.2s ease all;
  }
  button:hover .icon-right.after:before {
    left: -104px;
    top: 14px;
    opacity: 0.2;
    color: white;
  }
  
  .icon-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .icon-right:after {
    font-family: "FontAwesome";
    content: "→";
    font-size: 24px;
    display: inline-block;
    position: relative;
    top: 26px;
    transform: translate3D(0, -50%, 0);
  }
  .icon-right.after:after {
    left: -250px;
    color: black;
    transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
  }
  .icon-right.after:before {
    content: "Découvrir";
    position: absolute;
    left: -230px;
    top: 14px;
    opacity: 0;
    transition: 0.2s ease-in all;
  }

  
/* responsive mobile first */
/*-------------------------*/
/*-------------------------*/

@media screen and (min-width:847px){
	nav {
		margin:5px 24px 5px 5px;
	} 
 .change .container {
	  width:96.8%;
	  height:45px;
    display:flex;
    border-radius:50px;
  }
  .change ul {
    list-style-type: none;
    display:flex;
    justify-content:space-between;
		align-items:center;
		margin:0 5%;
		width:90%;
  }
	.slide-line::before {
		width:100%;
	}
	.change .cross {
		width:3%;
	}
	.change .social-icon {
		width:10%;
		margin:0 1%;
	}
    /*h1 {
        font-size: 11.7vmin;
        line-height: 11.5vmin;
        transform: translateY(-22px);
    }
    h1 span {
        font-size: 14vmin;
    }
    .baseline {
        font-size: 3.3vmin;
    }
    .pluriel-bg {
        font-size: 37vmin;
    }*/
    .hero-menu {
        display: flex;
    }
    .text {
        flex-direction: row;
    }
    .card>div {
        flex-direction: row;
        height: 211px;
    }
    .card .num {
        line-height: 288px;
    }
}

